NODE_ENV = development

PORT = 'port number'

MONGO_URL = 'your mongodb url'

# JWT
JWT_SECRET = 'add a jwt secret key for user'
JWT_ADMINSECRET = 'add a jwt secret key for admin'


# CLOUDINARY

CLOUD_NAME = 'your cloud name'
CLOUD_API_KEY = 'your api key'
CLOUD_API_SECRET = 'your api secret'