.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #442b76;
	padding-left: 100px;
	padding: 10px;
}

.user-name {
	margin-left: 80px;
	font-size: 24px;
	font-weight: bold;
}

.right-side-part {
	margin-right: 80px;
	font-size: 18px;
	font-weight: 600;
}

.navbar-links {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.navbar-links li {
	margin-right: 20px;
}

.navbar-links li:last-child {
	margin-right: 0;
}

.nav-items {
	color: #fff;
}

.navbar-links a:hover {
	color: #007bff;
}
